
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}
.tic-tac-toe{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.player-one,.player-two{
	font-size: 30px;
	display: flex;
	flex-direction: column;
	color: rgb(232, 232, 24);
}


.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 500px;
	margin-top: 10%;
}

.cell{
	position: relative;
	border: 2px solid black;
	width: 130px;
	height: 130px;
	margin: 10px;
}

.sing{
	position: absolute;
	top: 40%;
	left: 50%;
}


.continue{
	background-color: white;
	width: 400px;
	height: 200px;

	position: absolute;
	left: 20%;
	top: 10%;

	display: none;
	justify-content: center;
	flex-direction: column;
}

.continue__text{
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}

.continue__btn{
	display: flex;
	justify-content: space-around;
	
}
.btn{
	width: 50px;
}


.count{
	position: absolute;
	left: 41%;
	top: 1%;
	font-size: 30px;
	color: white;
}